#container {
    height: 28em;
}

@media screen and (max-width: 676px) {
    #container {
        height: 20em;
    }
}
@media screen and (max-width: 515px) {
    #container {
        height: 15em;
    }
}
@media screen and (max-width: 390px) {
    #container {
        height: 14em;
    }
}
